.picture_container {
  /* border: rgb(255, 0, 0) 2px solid; */
  width: 1280px;
  display: flex;
  flex-wrap: wrap;
}

.home_picture {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 50%;
  border: 2px solid black;
}

.comingsoon {
  height: 90%;
  align-items: center;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  animation-name: comingpop;
  animation-duration: 4s;
}

@keyframes comingpop {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.comingsoon img {
  width: 600px;
  height: 120px;
  object-fit: cover;
}
