header {
  width: 100%;
  height: 70px;
  background-color: #ed161f;
  display: flex;
  position: sticky !important;
  top: 0;
  z-index: 4;
  opacity: 1;
  animation-name: opacityhead;
  animation-duration: 2s;
  animation-timing-function: linear;
}

.backheader {
  background-color: #70d9f8;
  position: sticky !important;
  top: 0;
  z-index: 4;
}

@keyframes opacityhead {
  from {
    width: 0%;
    opacity: 0;
  }
  to {
    width: 100%;
    opacity: 1;
  }
}

.header_logo {
  height: 70px;
  padding-left: 20px;
  cursor: pointer;
}

.header_category {
  padding-left: 70px;
  height: 70px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-left: 600px;
  z-index: 5;
  display: none;
  /* REMETTRE DISPLAY */
}

.header_characters {
  width: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header_comics {
  width: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header_category img {
  height: 50px;
  margin-right: 10px;
  cursor: pointer;
  object-fit: cover;
}

.header_category img:hover {
  height: 54px;
  -webkit-filter: invert(1);
  filter: invert(1);
}

.header_fanpage {
  display: flex;
  align-items: center;
  margin-left: 100px;
  display: none;
  /* A REMETTRE */
}

.header_fanpage img {
  height: 50px;
  cursor: pointer;
}
.header_fanpage img:hover {
  height: 54px;
  -webkit-filter: invert(1);
  filter: invert(1);
}
